{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{%  block body %}
<div class="container">
<h1>Интересные факты о кулинарии </h1>
    <p>Многие домохозяйки, готовя пищу, даже не задумываются о том, когда и как люди узнали о некоторых ингредиентах, продуктах, а также как изобрели необходимые на кухне инструменты. В этой статье вы найдете интересные факты из мира кулинарии, которые вас, возможно, немало удивят.

Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост</p>
<h3>1) Мускатный орех</h3>

    <img src="https://cs9.pikabu.ru/post_img/2017/02/23/11/1487873941199233269.jpg" alt="">


<p>
Мускатное дерево – это единственное дерево, которое на самом деле дает два вида специй: мускатный орех (орех, с которым многие из нас знакомы) и менее известный мацис – высушенный присемяник ярко красного цвета.

Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Мацис или мускатный цвет стал очень популярен в 18-м веке, когда его начали добавлять в качестве специи к мясным блюдам, а также он является главным ингредиентом французского традиционного белого соуса, когда его вымачивают вместе с луком в горячем молоке, а потом добавляют в молоко муку и сливочное масло. В результате получается всемирно известный соус бешамель. Мацис на самом деле – это красный внешний слой коричневого мускатного ореха.
</p>



<h3>
2) Суши
</h3>

<p>
Известное на весь мир японское блюдо суши имеет вовсе не японские корни. Его вариация появилась еще в 4 веке до нашей эры в юго-восточной Азии, где рыбу солили и ферментировали с добавлением к ней риса. Через несколько месяцев ферментации рыбу вынимали из риса, который выбрасывали. Блюдо было распространено в Китае, а японцы научились его готовить в 8-м веке. Японцы любили есть рыбу с рисом, так появились японские суши, причем рыба была уже не ферментированная, а сырая. Впрочем, корейцы делают ролы и суши не с рыбой, а с мясом, хотя в остальном продукты те же.
</p>



<h3>
3) Русское обслуживание
    </h3>
    <<img src="https://cs8.pikabu.ru/post_img/big/2017/02/23/11/1487873971189036971.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Хотя многие европейские блюда имеют французские корни, способ обслуживания за столом, когда подаются отдельные тарелки с блюдами, придумали русские: именно так подавались блюда на царский стол. Во Франции все готовые блюда выставлялись на стол на многочисленных тарелках, что было довольно расточительным. Впрочем, на многих застольях сегодня используют именно такой метод подачи. Русское обслуживание – намного удобнее, так как позволяет поварам готовить в ресторанах блюда одно за другим, и клиенту не приходится ждать, пока все блюда подадут одновременно.
</p>



<h3>
4) Самый старый ресторан
    </h3>
    <img src="https://cs9.pikabu.ru/post_img/big/2017/02/23/11/1487873989192994716.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Самым древним рестораном и гостиницей считается ресторан Стифскеддер Св. Петра у монастырских стен Аббатства св. Петра, который находится в Зальцбурге, Австрия. Первые упоминания об этом месте появились еще в 803 году, причем с тех пор двери этого заведении никогда не закрывались. Это заведение считается древнейшим не прекращающим работать рестораном на планете, причем на сайте гостиницы можно увидеть надпись: "Подлинное зальцбургское гостеприимство последние 1200 лет". Аббатство св. Петра является самым старым монастырем немецкоговорящего мира, он был основан в 696 году святым Рупертом.
</p>



<h3>
5) Консервная открывалка
    </h3>
    <img src="https://cs8.pikabu.ru/post_img/big/2017/02/23/11/1487874007182835491.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Первые консервные банки, в которых хранили продукты питания, появились в 1770-х в Голландии и использовались голландскими военными. Однако первый патент за метод консервирования был выдан в 1810 году английскому торговцу Питеру Дуранду. Первые консервные банки обычно были тяжелее, чем их содержимое, и могли открываться самыми разными предметами, которые были под рукой, хотя на них имелись инструкции: "Разрежьте круглую верхнюю крышку возле края банки с помощью долото и молотка". Однако этими инструментами пользовались для открывания консервных банок до 1855 года, когда появилась первая открывалка для консервов. Она больше напоминала обычный нож, а 1870-м году ей на смену пришла открывалка с вращающимся колесиком, что было гораздо удобнее. Этим инструментом было так просто пользоваться, так как он не требовал недюжинной силы. В 1925 году консервные банки стали открывать с помощью открывалок с двойными колесиками, какие мы привыкли видеть сегодня.
</p>



<h3>
6) Диетическая газировка
    </h3>
    <img src="https://cs8.pikabu.ru/post_img/big/2017/02/23/11/1487874025188996527.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Самая первая диетическая газировка появилась в 1952 году и получила название No-Cal Soda-Pop. Химан Кирш и его сын Моррис, которые иммигрировали из России и поселились в Нью-Йорке, первыми стали продавать газировку еще в 1904 году. Их сотрудничество с еврейским санаторием для лечения хронических заболеваний привело к созданию напитка без содержания сахара для диабетиков, которые лечились в этом санатории. Ниман и Моррис разработали серию безалкогольных напитков без сахара с нулевым количеством калорий со вкусом шоколада и вишни. В 2000-х компания-производитель напитков INOV8 возродила этот напиток.
</p>



<h3>
7) Кола
    </h3>
    <img src="https://cs8.pikabu.ru/post_img/big/2017/02/23/11/1487874045120285173.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Несмотря на свое название, сегодня среди ингредиентов кока-колы можно найти сахар, цитрусовые масла (апельсиновое, лимонное или лаймовое), тамаринд, корицу, ваниль и кислоту, но совсем не орех колу и уж тем более не кокаин. Производители колы добавляли в напиток микрокомпоненты для того, чтобы выделить особый их вкус. Такими компонентами мог быть мускатный орех и большое количество других ингредиентов, однако основными компонентами, которые отличают колу, все же являются корица и ваниль. Кислинка часто обеспечивается с помощью фосфорной кислоты, иногда вместе с кислотой цитрусовых.
</p>



<h3>
8) Первая еда на вынос
    </h3>
    <img src="https://cs9.pikabu.ru/post_img/big/2017/02/23/11/1487874060196192162.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Первая пиццерия Port’Alba, как считается, появилась в Неаполе в 1830 году на месте торговой лавки, которая существовала с 1738 года. Эта пиццерия стала впервые предлагать еду на вынос. Ресторан заменил уличных торговцев и стал готовить пиццу в печах на дровах, которую затем разносили по дворам на подносах, которые несли на головах. Это место вскоре стало очень популярным местом для встреч. Среди завсегдатаев заведения были в основном художники, студенты и другие жители города с низкими доходами, так как пицца, которую тут готовили, была весьма незамысловата и дешева - на тесто клали только чеснок с маслом. Платежная система, которой тут пользовались, позволяла оплачивать трапезу в течение последующих 8 дней. Интересно, что эта пиццерия до сих пор работает!
</p>



<h3>
9) Вкус
    </h3>
    <img src="https://cs9.pikabu.ru/post_img/big/2017/02/23/11/1487874078187564441.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Язык – это мышечная ткань с железами, чувствительными клетками и жиром. Орган помогает смачивать пищу, попадающую в рот слюной. Пока кусочек еды не будет смочен слюной, вы не почувствуете вкус. Например, если соль насыпать на совершенно сухой язык, вкусовые сосочки не смогут распознать ее вкус. Как только язык станет влажным, соль растворится в слюне, а ее вкус будет ощущаться. Более того, без чувства обоняния, даже слюна не поможет - запах играет важную роль в определении вкуса того, что мы едим.

</p>


<h3>
10) Мед
    </h3>
    <img src="https://cs8.pikabu.ru/post_img/big/2017/02/23/11/1487874096194566220.jpg" alt="">
<p>
Любопытные факты кулинарного мира Интересное, Еда, Кулинария, Длиннопост
Мед никогда не портится. Это единственный продукт питания, который можно безгранично хранить в сыром виде. Например, археолог Т.М. Дэвис обнаружил баночку меда в одном из египетских захоронений, которой было 3300 лет. К его великому изумлению мед был в удивительно хорошем состоянии. Многие века мед оставался главным подсластителем во всем мире. Находки археологов показывают, что люди ели мед еще в незапамятные времена, собирая его в ульях пчел. Китайские манускрипты 3 тысячелетия до нашей эры сохранили стихи и песни, которые восхваляют мед и рассказывают о его использовании. Сегодня мед является важным ингредиентом на кухне практически всех народов.
    </p>
</div>
{% endblock %}

